<!DOCTYPE html>
<html>
    <head>
        <title> Pixabay Search (Express Version) </title>
        <link rel="stylesheet" href="/css/app.css" type="text/css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body class="jumbotron">

        <h1 class="text-primary"> Pixabay Search Results </h1>
        
        <form action="/results">
            
            Keyword: <input type="text" name="keyword">
            Orientation: <select id="orientation" name="orientation">
                <option value="">Select One</option>
                <option value="vertical">Vertical</option>
                <option value="horizontal">Horizontal</option>
            </select>
            <button> Search! </button>
            
        </form> <br>
        
        <div id="dataBody">
            <div id="img1">Likes: <%-images.hits[0].likes %><br><img src='<%= images.hits[0].largeImageURL %>' width='250'><br></div>
            <div id="img2">Likes: <%-images.hits[1].likes %><br><img src='<%= images.hits[1].largeImageURL %>' width='250'><br></div>
            <div id="img3">Likes: <%-images.hits[2].likes %><br><img src='<%= images.hits[2].largeImageURL %>' width='250'><br></div>
            <div id="img4">Likes: <%-images.hits[3].likes %><br><img src='<%= images.hits[3].largeImageURL %>' width='250'><br></div>
        </div>

    </body>
</html>